<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
            http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!--TODO: uncomment repoContext if wanna integrate with ORM layer-->
        <param-value><!--classpath:/repoContext.xml--> classpath:/appContext.xml classpath:/RESTContext.xml
            classpath:/security.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>SpringRestDispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/RESTContext.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpringRestDispatcherServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--security exceptions handling -->
    <error-page>
        <exception-type>org.springframework.security.authentication.BadCredentialsException</exception-type>
        <location>/exception/badCredentials</location>
    </error-page>

    <error-page>
        <exception-type>org.springframework.security.core.AuthenticationException</exception-type>
        <location>/exception/authenticationFailure</location>
    </error-page>

    <error-page>
        <exception-type>org.springframework.web.client.HttpStatusCodeException</exception-type>
        <location>/exception/statusCodeException</location>
    </error-page>

    <error-page>
        <exception-type></exception-type>
        <location>/exception/statusCodeException</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/exception/runtimeException</location>
    </error-page>

</web-app>